			</main>
		</div>
		<div id="sidebar" class="aside">
			<aside role="complementary">
				<p>This tool will convert a single icon into all plausible icon formats. Just upload an image and select the sizes you want the image converted to.</p>
				<p>After uploading the image, you will be given a ZIP file containing all images and an HTML snippet to integrate the icons into your HTML</p>
				<p>For best results use square image with a minimum resolution of 310×310px.</p>
			</aside>
		</div>
		<div id="footer" class="footer">
			<footer role="contentinfo">&copy; 2014</footer>
		</div>
	</div>
	<!-- jQuery -->
	<script src="//code.jquery.com/jquery-1.10.1.min.js"></script>
	<script src="js/jquery-main.js"></script>
	<script>/*<![CDATA[*/
	$(document).ready(function() {
		$('#container').main({});
	});
	/*]]>*/</script>
</body>
</html>